@mixin width($max, $min) {
  width: $min;

  @media(min-width: 991.98px) {
    width: $max;
  }
}

@mixin margin-top($max, $min) {
  margin-top: $min;

  @media(min-width: 991px) {
    margin-top: $max;
  }
}

@mixin margin-bottom($max, $min) {
  margin-bottom: $min;

  @media(min-width: 992px) {
    margin-bottom: $max;
  }
}

main {
  text-align: center;
  @include margin-top(6.5rem, 9rem);
  @include margin-bottom(15rem, 20rem);
}

.changeTime {
  .horChange {
    font-size: 70px;
    font-weight: bolder;
  }

  .minChange {
    font-size: 60px;
    font-weight: bold;
  }

  .secChange {
    font-size: 50px;
    font-weight: normal;
  }

  .miliSecChange {
    font-size: 40px;
    font-weight: lighter;
  }

  .splitter {
    font-size: 40px;
    font-weight: bold;
  }
}

.buttons {
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  margin: 30px auto;
  width: 240px;

  & > .button {
    color: #fff;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 5px 15px;
    cursor: pointer;
  }

  .changingStop {
    background: #4b77f2;

    &:hover {
      background: #4b77f2 - #222;
    }
  }

  .resetStop {
    background: #dc3545;

    &:hover {
      background: #dc3545 - #222;
    }
  }
}

@keyframes animate {
  0% {
    background-color: #007bff;
  }
  50% {
    background-color: #0052aa;
  }
  100% {
    background-color: #007bff;
  }
}
